.a{
    background-color: rgba(166, 59, 14, 0.882);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 10px;
    width: 500px;
    margin-left: 676px;
}
.a:hover{
    background-color: rgba(223, 114, 67, 0.882);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 10px;
}
body{
    background-color: rgba(255, 187, 119, 0.751);

}

